<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    {% if page.full_title %}
    <title>{{ page.full_title|raw }}</title>
    {% else %}
    <title>{{ page.title|raw }} &mdash; {{ site.title|raw }}</title>
    {% endif %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Offloc is a software and design company that blends art and technology to create thoughtful, elegant, and innovative solutions.">
	<link href="{{ site.url }}/assets/css/bootstrap.min.css" rel="stylesheet">
	{% if not page.no_offloc_primary_navigation %}
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    {% endif %}
	<link href="{{ site.url }}/assets/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link href="{{ site.url }}/assets/css/offloc.css" rel="stylesheet">
	<link rel="shortcut icon" href="{{ site.url }}/favicon.ico" />
	{% if page.og_title %}<meta property="og:title" content="{{ page.og_title|raw }}"/>
	{% else %}<meta property="og:title" content="{{ page.title|raw }} &mdash; {{ site.title|raw }}" />
	{% endif %}
	{% if page.og_url %}<meta property="og:url" content="{{ page.og_url|raw }}"/>
	{% endif %}
	{% if page.og_description %}<meta property="og:description" content="{{ page.og_description|raw }}"/>
	{% endif %}
	{% if page.og_type %}<meta property="og:type" content="{{page.og_type}}"/>
	{% endif %}
	{% if page.og_image %}<meta property="og:image" content="{{site.url}}{{page.og_image}}"/>
	{% endif %}
	{% if page.og_image_width %}<meta property="og:image:width" content="{{page.og_image_width}}"/>
	{% endif %}
	{% if page.og_image_height %}<meta property="og:image:height" content="{{page.og_image_height}}"/>
	{% endif %}
	{% if page.og_image_type %}<meta property="og:image:type" content="{{page.og_image_type}}"/>
	{% endif %}
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
{% if not page.no_offloc_primary_navigation %}
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="{{ site.url }}">Offloc</a>
			<div class="nav-collapse">
				<ul class="nav">
					<li><a href="{{ site.url }}">Home</a></li>
					<li><a href="{{ site.url }}/amp">Ambient Media Portal&trade;</a></li>
					<li><a href="http://a2d.co">A2D.co</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
{% endif %}

<div class="container">
{% block content %}
{% endblock %}
</div>

<footer class="site container">
	<div class="row-fluid">
		<div class="copyright span12">
			&copy; Offloc Incorporated 2010-2012<br />
			All Rights Reserved
		</div>
	</div>
</footer>
<script src="{{ site.url }}/assets/js/jquery.min.js"></script>
<script src="{{ site.url }}/assets/js/bootstrap.min.js"></script>
{% block scripts %}
{% endblock %}
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-18722842-1']);
_gaq.push(['_trackPageview']);
(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
</body>
</html>
