---
layout: layout
og_type: website
og_title: Offloc &mdash; Interactive Solutions Platforms
og_image: /assets/img/og-offloc.png
og_image_type: image/png
og_image_width: 300
og_image_height: 300
no_offloc_primary_navigation: true
---
{% block content %}

<section class="info">
<div class="container">
	<div class="row-fluid">
		<div class="span5 masthead">
			<h1 class="hide-text">Offloc Incorporated</h1>
			<p>We are a software and design company that blends art and technology to create thoughtful, elegant, and innovative solutions.</p>
			<p><a href="mailto:info@offloc.com" class="btn">Contact Us</a></p>
		</div>
		<div class="span3 hidden-phone"></div>
		<div class="span4 hidden-phone products">
			<div class="product amp">
				<a href="{{ site.url }}/amp" class="hide-text">Ambient Media Portal&trade;</a>
			</div>
			<div class="product a2d">
				<a href="http://a2d.co" class="hide-text">a2d.co</a>
			</div>
		</div>
	</div>
</div>
</section>


<section class="products">
<div class="container">
	<h2>Products and Services</h2>
</div>
<div class="container list-item">
	<div class="row">
		<div class="span12">
			<div class="product amp container-fluid">
				<div class="row-fluid">
					<div class="info span6">
						<a href="{{ site.url }}/amp" class="hide-text">Ambient Media Portal&trade;</a>
						<p>
							Ambient Media Portal&trade; is an
							elegant immersive digital
							media experience.
						</p>
					</div>
					<div class="example span6">
						<a href="{{ site.url }}/amp"><img src="{{ site.url }}/assets/css/amp-example.png"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container list-item">
	<div class="row">
		<div class="span12">
			<div class="product a2d container-fluid">
				<div class="row-fluid">
					<div class="info span6">
						<a href="http://a2d.co" class="hide-text">a2d.co</a>
						<p>
							A custom platform developed to
							bridge analog and digital divide.
						</p>
					</div>
					<div class="example span6">
						<a href="http://a2d.co"><img src="{{ site.url }}/assets/css/a2d-example.png"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</section>

{% endblock %}
